.contact-form-container {
  flex: 1 1 auto;
}

form.contact-form {
  padding: 1rem 2rem;
  // border: 1px solid white;
  border-radius: 2rem;
  flex: 1 1 auto;
  background: var(--card-background);

  label {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: var(--heading-color);
    font-size: 1.5rem;
    font-family: "ArcadeClassic";

    input,
    textarea {
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
  button {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background: #b000ff;
    border-radius: 5px;
    color: #ffd319;
    text-transform: uppercase;
    font-family: "ArcadeClassic";
    border: none;
  }
}
