.education-item {
  margin-bottom: 0;
  padding: var(--card-padding);
  background-color: var(--card-background);
  border-radius: var(--card-border-radius);
  flex: 1;
  min-height: 28vh;
  min-width: 257px;
  box-shadow: var(--card-box-shadow);

  h3 {
    color: var(--background-light);
    margin: 0;
  }

  h4,
  p {
    margin: 0;
    color: white;
  }

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 0px;

    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
