* {
  //   display: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.top-fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  height: 4rem;
  width: 100%;
  background-image: linear-gradient(
    to top,
    hsl(222, 91.2%, 13.3%, 0.2),
    hsl(222, 91.2%, 13.3%, 0.7) 50%,
    hsl(222, 91.2%, 13.3%, 1) 90%
  );
}

.bottom-fade {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    hsl(222, 91.2%, 13.3%, 0.2),
    hsl(222, 91.2%, 13.3%, 0.7) 50%,
    hsl(222, 91.2%, 13.3%, 1) 90%
  );
}

main {
  padding: 3rem 0;
}
